<a href="https://colab.research.google.com/github/madhukalyangit/madhu_projects/blob/main/first_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

variable

In [ ]:
a=10
b=12.3
c='madhu'
hfy_sjh="madhu"
_rad=63
d=True
e=False

print(a)
print(b)
print(c)
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))
print(type(e))

10
12.3
madhu
10 12.3 madhu
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a=input("enter a value")
b=int(input("enter age"))
c=str(input("enter name"))
print(a)
print(b)
print(c)

enter a value234
enter age33
enter name434
234
33
434

In [ ]:
a=2.3
b=int(a)
print(b)
print(type(b))

2
<class 'int'>

In [ ]:
a=input()
print(f"hi welcome to {a}")

23
hi welcome to 23

In [ ]:
a=3
b=2
print(a+b)
c=a+b
print(c)
print(int(b/a))
print(a*b)
print(a%b)
print(a**b)#power
print(int(b//a))

5
5
0
6
1
9
0

In [ ]:
a=104.
b=20
print(f"hi a{a} is less than {b}",a<b)
print(not(a<b or a<=b))
print(a<b or a<=b)

hi a10 is less than 20 True
False
True

In [ ]:
a=10*b
b=5
print(a+b)
b=float(input())
h=float(input())
c=1/2*b*h

205
344
334

In [ ]:
num=int(input("enter value "))
if num>0:
  print("this is greater than zero")
if num<0:
  print("this is less than zero")
if num==0:
  print("this is equal to zero")

enter value 3
this is greater than zero

In [ ]:
num=int(input("enter value "))
if num>0:
  print("this is greater than zero")
else:
  print("thios is less than zero")

enter value 4
this is greater than zero

In [ ]:
num=int(input("enter value "))
if num>0:
  print("num is greater trthan 0")
elif num<0:
  print("num is less than 0")

enter value 4
num is greater trthan 0

In [ ]:
num=int(input("enter value "))
if num>0:
  print("num is greater trthan 0")
elif num<0:
  print("num is less than 0")
else:
  print("number is equal ito zero")

enter value 4
num is greater trthan 0

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
start=int(input("enter start value "))
end=int(input("enter end value+1 "))
st=int(input("enter steps "))
for i in range(start,end,st):
  print(i)

enter start value 4
enter end value+1 9
enter steps 2
4
6
8

In [ ]:
a=str(input("enter a string"))
for i in a:
  print(i)

enter a stringmadhu
m
a
d
h
u

In [ ]:
#print even num from 10 to 30
for i in range(10,21,2):
  print(i)

10
12
14
16
18
20

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [ ]:
for i in range(10,21):
  if i%2==0:
    print(i)

10
12
14
16
18
20

In [ ]:
#print even num from 10 to 20
for i in range(10,21):
  if i%2!=0:
    print(i)

11
13
15
17
19

In [ ]:
s=0
for i in range(10,20):
  a=s+i
  print(a)

10
11
12
13
14
15
16
17
18
19

In [ ]:
#WAP to display the sum of fist 10 numbers
s=0
for i in range(1,11):
  s=s+i
  print(s)
print(s)

1
3
6
10
15
21
28
36
45
55
55

In [ ]:
 #WAP to calculate the sum of all even numbers from 1 to 50 using a for loop.
 s=0
 for i in range(1,51):
  if i%2==0:
    s=s+i
print(s)

650

In [ ]:
 # WAP to display the sum of fist n natural numbers and n shuould be entered by user
 s=0
 n=int(input("enter a value"))
 for i in range(1,n+1):
  s=s+i
 print(s)

enter a value5
15

In [ ]:
 #WAP to find the factorial of a number using a for loop.
 s=1
 n=5
 for i in range(1,6):
  s=s*i
 print(s)

120

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end="")
  print(" ")

*****
*****
*****
*****
*****

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end="")
  print("")

*****
*****
*****
*****
*****

In [ ]:
#7rows 10 columns
for i in range(1,8):
  for j in range(1,11):
    print("#",end="   ")
  print("")

#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #
#   #   #   #   #   #   #   #   #   #

In [ ]:
for i in range(1,8):
  for j in range(1,11):
    print("#",end="a")
  print("b")

#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab
#a#a#a#a#a#a#a#a#a#ab

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end=" ")
  print("")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    print(j,end="")
  print("")

54321
54321
54321
54321
54321

In [ ]:
for i in range(5,1,-1):
  for j in range(1,6):
    print(j,end=" ")
  print("")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
 #1
 #12
 #123
 #1234
 #12345
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print("")

1
12
123
1234
12345

In [ ]:
 11111
 22222
 33333
 44444
 55555

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end="")
  print("")

11111
22222
33333
44444
55555

In [ ]:
a="madhu"
print(a[0])
print(a[-2]) #01234 #-5-4-3-2-1

m
h

In [ ]:
#chr="abcdefg"
#str1="welcome python"

In [ ]:
chr="abcdefg"
str1="welcome python"
for i in str1:
  if i in chr:
    print(i)

e
c
e

In [ ]:
a=int(input("enter a value"))
b=int(input("enter a value"))
c=int(input("enter a value"))
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

enter a value7
enter a value9
enter a value6
9

In [ ]:
s1={'a','b','c','d'}
s2={'a','d','f','i'}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))

{'b', 'i', 'c', 'a', 'f', 'd'}
{'a', 'd'}
{'c', 'b'}
{'i', 'f'}

In [ ]:
dic={"mad":20,"ram":23,"raj":25,"kal":28}
print(type(dic))
dic["ram"]=3.45
print(dic)
print(dic.values())
print(dic.keys())
print(dic.items())

<class 'dict'>
{'mad': 20, 'ram': 3.45, 'raj': 25, 'kal': 28}
dict_values([20, 3.45, 25, 28])
dict_keys(['mad', 'ram', 'raj', 'kal'])
dict_items([('mad', 20), ('ram', 3.45), ('raj', 25), ('kal', 28)])

In [ ]:
dic={"mad":20,"ram":23,"raj":25,"kal":28}
print(dic)
del dic['raj']
print(dic)
dic.clear()
print(dic)

{'mad': 20, 'ram': 23, 'raj': 25, 'kal': 28}
{'mad': 20, 'ram': 23, 'kal': 28}
{}

In [ ]:
dic={"mad":20,"ram":23,"raj":25,"kal":28}
max(dic.values())
sum(dic.values())
len(dic)
sum(dic.values())/len(dic)

24.0

In [ ]:
a=3
b=4
def add(a,b):
  c=a+b
  print(c)

In [ ]:
# print numbers from 1-5 using while loop
a=1
while a<=5:
  print(a)
a=a+1

In [ ]:
#111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

In [ ]:
print("hello",end=" ")
print("python")

hello python

In [ ]:
for i in range(1,6):
 for j in range(1,6):
    print("*",end="")
 print("")

*****
*****
*****
*****
*****

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end="")
  print(" ")

12345
12345
12345
12345
12345

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print("#",end="a")
  print("b")

#a#a#a#a#ab
#a#a#a#a#ab
#a#a#a#a#ab
#a#a#a#a#ab
#a#a#a#a#ab

In [ ]:
#display numbers form 1 to 10?
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    print(j,end="")
  print("")

54321
54321
54321
54321
54321

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    print(i,end="")
  print("")

11111
22222
33333
44444
55555

In [ ]:
#display nummbers from 20 to 5 wwith step size 2?
for i in range(20,5,-2):
  print(i)

20
18
16
14
12
10
8
6

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if i%2==0:
      print(j**2,end="")
    else:
      print(j,end="")

  print("")

1
14
123
14916
12345

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end="")
  print("")

1
22
333
4444
55555

In [ ]:
chr1="welocme"
str1="come"
for i in chr1:
  if i not in str1:
    print(i)

w
l

In [ ]:
str1="hello world"
vow="aeiou"
c=0
for i in str1:
  if i in vow:
    c=c+1
print(c)

3

In [ ]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(i,end="")
  print("")

5
44
333
2222
11111

In [ ]:
for i  in range(1,6):
  for j in range(5,i-1,-1):
    print(j,end="")
  print("")

54321
5432
543
54
5

In [ ]:
for i in range(1,6):
  for j in range(5,0,-1):
    print(j,end="")
  print("")

54321
54321
54321
54321
54321

In [ ]:
#ascci values for alphabates in captal is 65 to 90 aand small latters is 97 to 122

In [ ]:
for i in range(1,6):
  for j in range(65,70):
    print(chr(j),end=" ")
  print(" ")

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
for i in range(1,6):
  for j in range(97,102):
    print(chr(j),end=" ")
  print(" ")

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [ ]:
for i in range(5,0,-1):
  for j in range(97,97+i):
    print(chr(j),end="")
  print("")

abcde
abcd
abc
ab
a

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print('*',end="")
  print("")
for i in range(5,0,-1):
  for j in range(1,i-1):
    print("*",end="")
  print("")

*
**
***
****
*****
***
**
*

In [ ]:
n = 6
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==n//2 or j==n//2 or i==j or i+j==n+1:
      print("*",end=" ")

    else:
      print(" ",end=" ")

  print(" ")

*   *     *
  * *   *
* * * * * *
    * *
  * *   *
*   *     *

In [ ]:
for i in range(1,11):
  result = 2 * i
  print(f"2 x {i} = {result}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#while loop

In [ ]:
#numbers from 1 to 10?
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#python 10 times
i=1
while i<=10:
  print("python")
  i=i+1

python
python
python
python
python
python
python
python
python
python

In [ ]:
# print numbers from 20 to 40 with step size of 2?
i=10
while i<=40:
  print(i)
  i=i+2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [4]:
#numbers from 10 to 1 ?
i=10
while i>=1:
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [5]:
#print even numbers b/w 10 to 20 using whilee loop?
i=10
while i<=20:
  print(i)
  i=i+1

10
11
12
13
14
15
16
17
18
19
20

In [6]:
#print even numbers from 10 to 20 ?
i=10
while i<=20:
  if i%2==0:
    print(i)
  i=i+1

10
12
14
16
18
20

In [7]:
##print even numbers from 10 to 20 ?
i=10
while i<=20:
  if i%2!=0:
    print(i)
  i=i+1

11
13
15
17
19

In [11]:
#sum of 1 to 10 ?
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print(s)

55

In [17]:
#sum of 1 to n ?
n=int(input())
s=0
i=1
while i<=n:
  s=s+i
  i=i+1
print("sum of n numbers is", s)

10
sum of n numbers is 55

In [18]:
#product of n numbers?
n=int(input())
s=1
i=1
while i<=n:
  s=s*i
  i=i+1
print("product of n numbers",s)

10
product of n numbers 3628800

In [21]:
#sum of even numbers from 5 to 20?
s=0
i=1
while i<=20:
  if i%2==0:
    s=s+i
  i=i+1
print(s)

110

In [ ]:
#iterating string #################################